<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Image Combination</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body> 
    {% load static %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}        
        {{ form.as_p }}
        <button type="submit">Combine</button>
        {% if final_img == 1 %}
        <img src="{% static 'final.jpg' %}" alt="Output image"/>
        {% endif %}
    </form>
</body>

</html>